* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

.container {
    max-width: 1500px;
    margin: auto;
    height: 100%;
    padding: 0 30px;
}

/* ----------FINE REGOLE GENERICHE--------- */
header {
    height: 90px;
    position: absolute;
    width: 100%
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER-LEFT */
.logo-container {
    height: 60px;
    width: 300px;
    cursor: pointer;
}

.logo-container > img {
    height: 100%;
    width: 100%;
}

/* HEADER-RIGHT */

.header-right {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
}

.header-right > ul {
    display: flex;
}

.header-right > ul > li {
    margin: 0 25px;
}

.header-right > ul > li > a {
    color: #ffffff;
    padding: 5px;
}

.header-right > button {
    background-color: #fcd66c;
    margin-left: 25px;
}

/* ------------INIZIO SEZIONE JUMBOTRON------------ */

section.make-difference {
    background-image: url("img/home-page-slider.jpg");
    background-size: cover;
    background-position: center;
    /* background-position: top; */
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 300px 0;
    color: #ffffff;
}

.jumbotron > h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 15px 0;
}

.jumbotron > p {
    letter-spacing: 1px;
    margin: 15px 0;
}

.jumbotron > .jumbo-buttons > button {
    margin: 15px 10px;
    background-color: transparent;
}

.jumbotron > .jumbo-buttons > .mission-button {
    margin: 15px 10px;
    border: 2px solid #ffffff;
}

.jumbotron > .jumbo-buttons > .donate-button {
    margin: 15px 10px;
    color: #fcd66c;
    border: 2px solid #fcd66c;
}
































/**/
