* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
}

hr {
    border: 1.5px solid #fcd66c;
    width: 160px;
    background-color: #fcd66c;
}

hr.center-hr {
    margin: auto;
}

button {
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}

.container {
    max-width: 1700px;
    margin: auto;
    height: 100%;
    padding: 0 30px;
}

/* ----------FINE REGOLE GENERICHE--------- */
header {
    height: 90px;
    position: absolute;
    width: 100%
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER-LEFT */
.logo-container {
    height: 60px;
    width: 300px;
    cursor: pointer;
}

.logo-container > img {
    height: 100%;
    width: 100%;
}

/* HEADER-RIGHT */

.header-right {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
}

.header-right > ul {
    display: flex;
}

.header-right > ul > li {
    margin: 0 25px;
}

.header-right > ul > li > a {
    color: #ffffff;
    padding: 5px;
}

.header-right > button {
    background-color: #fcd66c;
    margin-left: 25px;
}

/* ------------INIZIO SEZIONE JUMBOTRON------------ */

section.make-difference {
    background-color: #78787b;
    background-image: url("img/home-page-slider.jpg");
    background-size: cover;
    background-position: center;
    /* background-position: top; */
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 300px 0;
    color: #ffffff;
}

.jumbotron > h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 15px 0;
}

.jumbotron > p {
    letter-spacing: 1px;
    margin: 15px 0;
}

.jumbotron > .jumbo-buttons > button {
    margin: 15px 10px;
    background-color: transparent;
}

.jumbotron > .jumbo-buttons > .mission-button {
    margin: 15px 10px;
    border: 2px solid #ffffff;
}

.jumbotron > .jumbo-buttons > .donate-button {
    margin: 15px 10px;
    color: #fcd66c;
    border: 2px solid #fcd66c;
}

/* --------------INIZIO SEZIONE MISSION------------ */

.mission-container {
    display: flex;
}

.mission-left {
    width: 70%;
    padding: 80px;
}

.mission-left > h2 {
    margin: 15px 0;
}

.mission-left > p {
    margin: 20px 0;
    line-height: 30px;
}

.mission-left > button {
    background-color: #fcd66c;
    margin: 15px 0;
}

/* MISSION RIGHT */
.mission-right  {
    width: 30%;
    background-color: #ed6864;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/home-content-bg-1.jpg');
    background-size: cover;
    background-position: center;
}

.statistics > div {
    margin: 40px 0;
    color: #ffffff;
    font-size: 35px;
}

.statistics p {
    font-size: 14px;
    margin: 10px 0;
}

.statistics span {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
}

/* --------INIZIO OUR VALUES-------- */
section.our-values {
    background-color: #78787b;
    background-image: url('img/home-content-bg-2.jpg');
    background-size: cover;
    background-position: center;
}

.our-values-container, .recent-causes-container {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our-values-top {
    text-align: center;
    margin: 50px 0;
    color: #ffffff;
}

.our-values-top > h2,
.recent-causes-top > h2 {
    margin: 25px 0;
}

.our-values-top > p,
.recent-causes-top > p {
    margin: 35px 0;
}


/* OUR VALUES BOTTOM */
.our-values-bottom {
    display: flex;
    color: #ffffff;
}

.values-box {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    text-align: center;
}

.values-box > i {
    color: #fcd66c;
    font-size: 60px;
    margin: 15px 0;
}

.values-box > span {
    letter-spacing: 1px;
    font-size: 20px;
}

.values-box > p {
    font-size: 15px;
    margin: 20px 0;
    line-height: 30px;
}

.values-box > button {
    background-color: #fcd66c;
    width: 131px;
    margin: 20px auto;
}

/* ----------INIZIO RECENT CAUSES--------- */
/* alcuni parametri sono impostati in our values */

.recent-causes-container {
    padding: 80px 50px;
}

.recent-causes-top {
    font-family: 'Raleway', sans-serif;
}

.recent-causes-bottom {
    display: flex;
    margin: 40px 0;
}

.causes-img-container {
    width: 25%;
    height: 25%;
    margin: 0 20px;
}

.causes-img-container > img {
    width: 100%;
    height: 100%;
}

.recent-causes > button {
    background-color: #ed6864;
    width: 100%;
    padding: 50px 0;
    font-size: 14px;
}















/**/
